/*estilos generales*/
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
/* Header */
header {
  background-color: #c4c4c4;
  text-align: center;
  line-height: 29.64px;
}
h1 {
  background-color: gray;
  color: #005677;
  text-transform: uppercase;
  font-size: 35px;
}
/* main */
.letraDistinta{
  font-family:'Times New Roman', Times, serif,sans-serif;
  font-weight: bold;
  font-style: italic;
}
h2 {
  font-size: 20px;
  background-color: #C4C4C4;
  color: #005677;
  line-height: 16.94px;
}

/* footer */
footer {
  background-color: #e5e5e5;
}
.fraseFinal {
  background-color: #005677;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
