*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: black;
    color:rgb(50, 212, 50);
}
.title1{
    color: honeydew;
}
.title11{
    color:red;
}
ul li a {
    text-decoration: none;
    color: white;
}
.primerImagen{
    color: red;
    background-image: url(img/delivery.jpg);
    height: 350px;
    background-repeat: no-repeat;
}
.segundaImagen{
    background-color: #FFFFFF;
}
.mainn{display: flex;
}
footer{
    background-color: black;
    color:rgb(50, 212, 50);
}